In [117]:
# imports
# numpy for vectorized operations
import numpy as np
# pandas for dataframe manipulation of tabular data
import pandas as pd
# matplotlib for visualizations
import matplotlib.pyplot as plt

# train test split from sklearn
from sklearn.model_selection import train_test_split
# imputer from sklearn
from sklearn.impute import SimpleImputer

# filter out warnings
import warnings
warnings.filterwarnings('ignore')

# our own acquire script:
import acquire
from pydataset import data
import os

# remove limits on viewing dataframes
#pd.set_option('display.max_columns', None)

### 4.) In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data('iris')
df_iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [3]:
# Print first 3 rows of Iris dataset

print(df_iris.head(3))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
#Print out how many rows are in df_iris

print(len(df_iris.index))

150

In [5]:
#Print the column names 

print(df_iris.columns)

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [6]:
#Print columns wih 'object' dtype

types= df_iris.dtypes
print(types)

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [7]:
print(df_iris.describe())

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 5.) Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets. Make sure that the spreadsheet is publicly visible under your sharing settings.

In [8]:
# obtain the actual url from the browser, not the "share" url
url = 'https://docs.google.com/spreadsheets/d/1Wh7k-uhu5J00l1ZowjS_jQ4N94VYTw7w00F5pb0V0mk/edit#gid=239704151'

# replace /edit with /export?format=csv
sheet = 'https://docs.google.com/spreadsheets/d/1Wh7k-uhu5J00l1ZowjS_jQ4N94VYTw7w00F5pb0V0mk/export?format=csv#gid=239704151'

df_googlesheet = pd.read_csv(sheet)
df_googlesheet.head(3)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,phone_service_name,internet_service,internet_service_name,contract_type,...,tenure,churn,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,type_of_service(s),Tenure Group
0,0002-ORFBO,Female,0,Yes,Yes,1,One Line,1,DSL,1,...,9.04,No,True,False,True,True,True,3,Phone and Internet,Silver(Less Than 5 Years)
1,0003-MKNFE,Male,0,No,No,2,Two or More Lines,1,DSL,0,...,9.06,No,False,False,True,True,True,0,Phone and Internet,Silver(Less Than 5 Years)
2,0004-TLHLJ,Male,0,No,No,1,One Line,2,Fiber Optic,0,...,3.80,Yes,False,True,True,True,True,0,Phone and Internet,Silver(Less Than 5 Years)

In [9]:
df_google_sheets_sample = df_googlesheet.head(100)
print(df_google_sheets_sample)

   customer_id  gender  is_senior_citizen partner dependents  phone_service  \
0   0002-ORFBO  Female                  0     Yes        Yes              1
1   0003-MKNFE    Male                  0      No         No              2
2   0004-TLHLJ    Male                  0      No         No              1
3   0011-IGKFF    Male                  1     Yes         No              1
4   0013-EXCHZ  Female                  1     Yes         No              1
5   0013-MHZWF  Female                  0      No        Yes              1
6   0013-SMEOE  Female                  1     Yes         No              1
7   0014-BMAQU    Male                  0     Yes         No              2
8   0015-UOCOJ  Female                  1      No         No              1
9   0016-QLJIS  Female                  0     Yes        Yes              2
10  0017-DINOC    Male                  0      No         No              0
11  0017-IUDMW  Female                  0     Yes        Yes              2
12  0018-NYROU  Female                  0     Yes         No              1
13  0019-EFAEP  Female                  0      No         No              2
14  0019-GFNTW  Female                  0      No         No              0
15  0020-INWCK  Female                  0     Yes        Yes              2
16  0020-JDNXP  Female                  0     Yes        Yes              0
17  0021-IKXGC  Female                  1      No         No              2
18  0022-TCJCI    Male                  1      No         No              1
19  0023-HGHWL    Male                  1      No         No              0
20  0023-UYUPN  Female                  1     Yes         No              2
21  0023-XUOPT  Female                  0     Yes         No              2
22  0027-KWYKW  Female                  0     Yes        Yes              2
23  0030-FNXPP  Female                  0      No         No              1
24  0031-PVLZI  Female                  0     Yes        Yes              1
25  0032-PGELS  Female                  0     Yes        Yes              0
26  0036-IHMOT  Female                  0     Yes        Yes              1
27  0040-HALCW    Male                  0     Yes        Yes              1
28  0042-JVWOJ    Male                  0      No         No              1
29  0042-RLHYP  Female                  0     Yes        Yes              1
30  0048-LUMLS    Male                  0     Yes        Yes              1
31  0048-PIHNL  Female                  0     Yes         No              1
32  0052-DCKON    Male                  0     Yes         No              2
33  0052-YNYOT  Female                  0      No         No              1
34  0056-EPFBG    Male                  0     Yes        Yes              0
35  0057-QBUQH  Female                  0      No        Yes              2
36  0058-EVZWM  Female                  0     Yes         No              2
37  0060-FUALY  Female                  0     Yes         No              2
38  0064-SUDOG  Female                  0     Yes        Yes              1
39  0064-YIJGF    Male                  0     Yes        Yes              2
40  0067-DKWBL    Male                  1      No         No              1
41  0068-FIGTF  Female                  0      No         No              1
42  0071-NDAFP    Male                  0     Yes        Yes              2
43  0074-HDKDG    Male                  0     Yes        Yes              1
44  0076-LVEPS    Male                  0      No        Yes              0
45  0078-XZMHT    Male                  0     Yes         No              2
46  0080-EMYVY  Female                  0      No         No              1
47  0080-OROZO  Female                  0      No         No              1
48  0082-LDZUE    Male                  0      No         No              1
49  0082-OQIQY    Male                  0      No         No              1
50  0083-PIVIK    Male                  0      No         No              2
51  0089-IIQKO  Female                  0     Yes        Yes              2
52  0093-EXYQL  Female                  1      No         No              1
53  0093-XWZFY    Male                  0      No         No              2
54  0094-OIFMO  Female                  1      No         No              1
55  0096-BXERS  Female                  0     Yes         No              2
56  0096-FCPUF    Male                  0      No         No              2
57  0098-BOWSO    Male                  0      No         No              1
58  0100-DUVFC    Male                  1     Yes         No              2
59  0103-CSITQ  Female                  0     Yes         No              2
60  0104-PPXDV    Male                  0     Yes         No              1
61  0106-GHRQR    Male                  0      No         No              2
62  0106-UGRDO  Female                  0     Yes         No              2
63  0107-WESLM    Male                  0      No         No              1
64  0107-YHINA    Male                  0      No        Yes              2
65  0111-KLBQG    Male                  1     Yes        Yes              1
66  0112-QAWRZ    Male                  0     Yes        Yes              2
67  0112-QWPNC    Male                  0     Yes         No              2
68  0114-IGABW  Female                  0     Yes         No              0
69  0114-PEGZZ  Female                  0      No         No              2
70  0114-RSRRW  Female                  0     Yes         No              1
71  0115-TFERT    Male                  0     Yes         No              2
72  0117-LFRMW    Male                  0     Yes        Yes              0
73  0118-JPNOY  Female                  1      No         No              1
74  0121-SNYRK    Male                  0      No         No              0
75  0122-OAHPZ  Female                  0      No         No              2
76  0123-CRBRT  Female                  0     Yes        Yes              2
77  0125-LZQXK    Male                  0      No         No              1
78  0128-MKWSG  Female                  0      No        Yes              0
79  0129-KPTWJ    Male                  0     Yes         No              1
80  0129-QMPDR    Male                  0     Yes        Yes              1
81  0130-SXOUN    Male                  0      No         No              2
82  0133-BMFZO  Female                  0      No         No              1
83  0134-XWXCE  Female                  1      No         No              1
84  0135-NMXAP  Female                  0      No         No              2
85  0136-IFMYD    Male                  1     Yes         No              2
86  0137-OCGAB  Female                  0      No         No              2
87  0137-UDEUO  Female                  0      No         No              1
88  0139-IVFJG  Female                  0     Yes         No              1
89  0141-YEAYS  Female                  1      No         No              2
90  0142-GVYSN    Male                  0      No         No              1
91  0147-ESWWR  Female                  1     Yes         No              2
92  0148-DCDOS    Male                  0      No         No              2
93  0151-ONTOV  Female                  0      No         No              1
94  0156-FVPTA    Male                  0     Yes         No              1
95  0164-APGRB  Female                  0      No         No              2
96  0164-XAIRP  Female                  0      No         No              1
97  0168-XZKBB  Female                  0     Yes         No              2
98  0174-QRVVY    Male                  0     Yes        Yes              2
99  0177-PXBAT    Male                  1     Yes         No              2

   phone_service_name  internet_service internet_service_name  contract_type  \
0            One Line                 1                   DSL              1
1   Two or More Lines                 1                   DSL              0
2            One Line                 2           Fiber Optic              0
3            One Line                 2           Fiber Optic              0
4            One Line                 2           Fiber Optic              0
5            One Line                 1                   DSL              0
6            One Line                 2           Fiber Optic              2
7   Two or More Lines                 2           Fiber Optic              2
8            One Line                 1                   DSL              0
9   Two or More Lines                 1                   DSL              2
10   No Phone Service                 1                   DSL              2
11  Two or More Lines                 2           Fiber Optic              2
12           One Line                 2           Fiber Optic              0
13  Two or More Lines                 2           Fiber Optic              2
14   No Phone Service                 1                   DSL              2
15  Two or More Lines                 2           Fiber Optic              2
16   No Phone Service                 1                   DSL              1
17  Two or More Lines                 2           Fiber Optic              0
18           One Line                 1                   DSL              1
19   No Phone Service                 1                   DSL              0
20  Two or More Lines                 0   No Internet Service              1
21  Two or More Lines                 2           Fiber Optic              0
22  Two or More Lines                 2           Fiber Optic              0
23           One Line                 0   No Internet Service              0
24           One Line                 0   No Internet Service              0
25   No Phone Service                 1                   DSL              0
26           One Line                 2           Fiber Optic              1
27           One Line                 0   No Internet Service              2
28           One Line                 0   No Internet Service              1
29           One Line                 0   No Internet Service              2
30           One Line                 2           Fiber Optic              1
31           One Line                 0   No Internet Service              1
32  Two or More Lines                 2           Fiber Optic              1
33           One Line                 0   No Internet Service              1
34   No Phone Service                 1                   DSL              2
35  Two or More Lines                 0   No Internet Service              2
36  Two or More Lines                 2           Fiber Optic              0
37  Two or More Lines                 2           Fiber Optic              0
38           One Line                 0   No Internet Service              2
39  Two or More Lines                 2           Fiber Optic              0
40           One Line                 1                   DSL              0
41           One Line                 1                   DSL              1
42  Two or More Lines                 0   No Internet Service              2
43           One Line                 1                   DSL              1
44   No Phone Service                 1                   DSL              0
45  Two or More Lines                 1                   DSL              2
46           One Line                 1                   DSL              1
47           One Line                 2           Fiber Optic              1
48           One Line                 1                   DSL              0
49           One Line                 2           Fiber Optic              0
50  Two or More Lines                 1                   DSL              1
51  Two or More Lines                 2           Fiber Optic              0
52           One Line                 2           Fiber Optic              0
53  Two or More Lines                 2           Fiber Optic              0
54           One Line                 2           Fiber Optic              0
55  Two or More Lines                 1                   DSL              0
56  Two or More Lines                 1                   DSL              0
57           One Line                 0   No Internet Service              0
58  Two or More Lines                 2           Fiber Optic              1
59  Two or More Lines                 2           Fiber Optic              1
60           One Line                 1                   DSL              1
61  Two or More Lines                 1                   DSL              0
62  Two or More Lines                 2           Fiber Optic              2
63           One Line                 0   No Internet Service              0
64  Two or More Lines                 2           Fiber Optic              0
65           One Line                 2           Fiber Optic              0
66  Two or More Lines                 2           Fiber Optic              0
67  Two or More Lines                 1                   DSL              1
68   No Phone Service                 1                   DSL              2
69  Two or More Lines                 2           Fiber Optic              0
70           One Line                 0   No Internet Service              0
71  Two or More Lines                 2           Fiber Optic              0
72   No Phone Service                 1                   DSL              0
73           One Line                 2           Fiber Optic              0
74   No Phone Service                 1                   DSL              1
75  Two or More Lines                 2           Fiber Optic              0
76  Two or More Lines                 1                   DSL              2
77           One Line                 2           Fiber Optic              0
78   No Phone Service                 1                   DSL              0
79           One Line                 2           Fiber Optic              0
80           One Line                 0   No Internet Service              1
81  Two or More Lines                 2           Fiber Optic              0
82           One Line                 2           Fiber Optic              0
83           One Line                 1                   DSL              1
84  Two or More Lines                 2           Fiber Optic              0
85  Two or More Lines                 2           Fiber Optic              2
86  Two or More Lines                 2           Fiber Optic              0
87           One Line                 0   No Internet Service              0
88           One Line                 2           Fiber Optic              0
89  Two or More Lines                 2           Fiber Optic              0
90           One Line                 0   No Internet Service              0
91  Two or More Lines                 2           Fiber Optic              0
92  Two or More Lines                 2           Fiber Optic              0
93           One Line                 2           Fiber Optic              0
94           One Line                 1                   DSL              0
95  Two or More Lines                 2           Fiber Optic              2
96           One Line                 0   No Internet Service              2
97  Two or More Lines                 2           Fiber Optic              0
98  Two or More Lines                 0   No Internet Service              2
99  Two or More Lines                 2           Fiber Optic              0

    ... tenure churn  is_female  has_churned  has_phone has_internet  \
0   ...   9.04    No       True        False       True         True
1   ...   9.06    No      False        False       True         True
2   ...   3.80   Yes      False         True       True         True
3   ...  12.63   Yes      False         True       True         True
4   ...   3.19   Yes       True         True       True         True
5   ...   8.23    No       True        False       True         True
6   ...  72.05    No       True        False       True         True
7   ...  63.53    No      False        False       True         True
8   ...   7.06    No       True        False       True         True
9   ...  65.87    No       True        False       True         True
10  ...  54.44    No      False        False      False         True
11  ...  72.40    No       True        False       True         True
12  ...   5.10    No       True        False       True         True
13  ...  71.68    No       True        False       True         True
14  ...  56.83    No       True        False      False         True
15  ...  71.53    No       True        False       True         True
16  ...  32.54    No       True        False      False         True
17  ...   1.00    No       True        False       True         True
18  ...  44.52   Yes      False         True       True         True
19  ...   1.00   Yes      False         True      False         True
20  ...  51.84    No       True        False       True        False
21  ...  12.92   Yes       True         True       True         True
22  ...  22.09    No       True        False       True         True
23  ...   2.88    No       True        False       True        False
24  ...   3.75   Yes       True         True       True        False
25  ...   1.00   Yes       True         True      False         True
26  ...  54.55    No       True        False       True         True
27  ...  53.46    No      False        False       True        False
28  ...  24.07    No      False        False       True        False
29  ...  70.91    No       True        False       True        False
30  ...  35.61    No      False        False       True         True
31  ...  44.05    No       True        False       True        False
32  ...  68.59    No      False        False       True         True
33  ...  65.37    No       True        False       True        False
34  ...  20.95    No      False        False      False         True
35  ...  42.64    No       True        False       True        False
36  ...  55.23    No       True        False       True         True
37  ...  59.08    No       True        False       True         True
38  ...  11.06    No       True        False       True        False
39  ...  25.47    No      False        False       True         True
40  ...   1.85   Yes      False         True       True         True
41  ...  26.59    No       True        False       True         True
42  ...  24.73    No      False        False       True        False
43  ...  26.15    No      False        False       True         True
44  ...  27.61    No      False        False      False         True
45  ...  74.18    No      False        False       True         True
46  ...  14.15    No       True        False       True         True
47  ...  35.59    No       True        False       True         True
48  ...   1.00    No      False        False       True         True
49  ...  27.68    No      False        False       True         True
50  ...  68.52    No      False        False       True         True
51  ...  37.69    No       True        False       True         True
52  ...  40.13    No       True        False       True         True
53  ...  38.63   Yes      False         True       True         True
54  ...  11.79   Yes       True         True       True         True
55  ...   6.25    No       True        False       True         True
56  ...  29.28    No      False        False       True         True
57  ...  27.31    No      False        False       True        False
58  ...  69.74    No      False        False       True         True
59  ...  57.15    No       True        False       True         True
60  ...  57.23    No      False        False       True         True
61  ...  16.98    No      False        False       True         True
62  ...  70.54    No       True        False       True         True
63  ...   1.00   Yes      False         True       True        False

In [10]:
# Print the number of rows of your original dataframe

print(len(df_googlesheet.index))

7049

In [11]:
# Print the first 5 column names

print(df_googlesheet.iloc[:0, :5])

Empty DataFrame
Columns: [customer_id, gender, is_senior_citizen, partner, dependents]
Index: []

In [119]:
# Print the column names that have a data type of object

df_gs = df_googlesheet

df_gs.select_dtypes(include=['object']).columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'phone_service_name',
       'internet_service_name', 'contract_type_name', 'payment_type', 'churn',
       'type_of_service(s)', 'Tenure Group'],
      dtype='object')

In [120]:
# Compute the range for each of the numeric variables

df_range = df_gs.select_dtypes(include=['int64', 'float64']).apply(lambda col: col.max()- col.min())
# df_range = df_numbers.max() - df_numbers.min()
df_range

is_senior_citizen        1.00
phone_service            2.00
internet_service         2.00
contract_type            2.00
monthly_charges        100.50
total_charges         8666.00
tenure                  79.34
partner_dependents       3.00
dtype: float64

### 6.) Download your spreadsheet exercises google sheet as an excel file (File â†’ Download â†’ Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [123]:
# df_excel = pd.read_excel('TelcoCo_CustDetails.xlsx')
# df_excel.head(3)

In [ ]:
# Assign the first 100 rows to a new dataframe, df_excel_sample

df_excel_sample = df_excel.head(100)
df_excel_sample.head(3)

In [ ]:
# Print the number of rows of your original dataframe

print(len(df_excel))

In [ ]:
# Print the first 5 column names

print(df_excel.iloc[:0, :5])

In [ ]:
# Print the column names that have a data type of object

print(df_excel.select_dtypes(include=['object']).columns)

In [ ]:
# Compute the range for each of the numeric variables

df_range = df_excel.select_dtypes(include=['number']).apply(lambda col: col.max() - col.min())
# df_range = df_numbers.max() - df_numbers.min()
df_range

### Read the data from this google sheet into a dataframe, df_google.

In [ ]:
df_google = pd.read_excel('train.xlsx')
df_google.head(3)

In [ ]:
# Print the column names

print(df_google.columns)

In [ ]:
# Print the data type of each column
df_google.dtypes

In [ ]:
# Print the summary statistics for each of the numeric variables

df_google.describe()

In [ ]:
# Print the unique values for each of your categorical variables

# df_google.nunique()
df_google.select_dtypes('object').apply(lambda col: col.unique(). tolist())

## Data Prep Exercises

#### Using the Iris Data:

In [134]:
df_iris = acquire.get_iris_data()

Using cached csv

In [126]:
df_iris.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [127]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   species_id      150 non-null    int64
 1   measurement_id  150 non-null    int64
 2   sepal_length    150 non-null    float64
 3   sepal_width     150 non-null    float64
 4   petal_length    150 non-null    float64
 5   petal_width     150 non-null    float64
 6   species_name    150 non-null    object
dtypes: float64(4), int64(2), object(1)
memory usage: 8.3+ KB

In [128]:
type(df_iris)

pandas.core.frame.DataFrame

In [129]:
df_iris.describe()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,2.000000,75.500000,5.843333,3.057333,3.758000,1.199333
std,0.819232,43.445368,0.828066,0.435866,1.765298,0.762238
min,1.000000,1.000000,4.300000,2.000000,1.000000,0.100000
25%,1.000000,38.250000,5.100000,2.800000,1.600000,0.300000
50%,2.000000,75.500000,5.800000,3.000000,4.350000,1.300000
75%,3.000000,112.750000,6.400000,3.300000,5.100000,1.800000
max,3.000000,150.000000,7.900000,4.400000,6.900000,2.500000

In [136]:
df_iris.species_name.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species_name, dtype: int64

#### 2.) Drop the species_id and measurement_id columns.

In [137]:
# df_iris = df_iris.drop(['species_id', 'measurement_id'],axis=1)

#### 3.) Rename the species_name column to just species.

In [138]:
# df_iris = df_iris.rename(columns={'species_name': 'species'})

In [139]:
# At the same time

# Drop species_id and measurement_id then rename species_name to species
columns_to_drop = ['species_id', 'measurement_id']

df_iris.drop(columns_to_drop, inplace=True).rename(columns={'species_name': 'species'})
df_iris.head()

KeyError: "['species_id' 'measurement_id'] not found in axis"

#### 4.) Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [140]:
dummy_df = pd.get_dummies(df_iris[['species']],
                         dummy_na = False,
                         drop_first = [True])
dummy_df.head()

KeyError: "None of [Index(['species'], dtype='object')] are in the [columns]"

In [141]:
# Concat
df_iris = pd.concat([df_iris, dummy_df], axis = 1)
df_iris

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,internet_service_type_Fiber optic,internet_service_type_None,contract_type_One year,contract_type_Two year
0,1.0,1.0,5.1,3.5,1.4,0.2,setosa,0,0,1,0,0,1,0
1,1.0,2.0,4.9,3.0,1.4,0.2,setosa,0,0,1,0,0,0,0
2,1.0,3.0,4.7,3.2,1.3,0.2,setosa,0,1,0,1,0,0,0
3,1.0,4.0,4.6,3.1,1.5,0.2,setosa,0,1,0,1,0,0,0
4,1.0,5.0,5.0,3.6,1.4,0.2,setosa,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0,1,0
7039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,1,0,0,0
7040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0,0,0
7041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0,0,1
7042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,0,1

#### 5.) Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [142]:
def prep_data(df_iris):
        ''' 
        This function cleans the iris_db by dropping unneeded
        columns and renaming columns to be more helpful. Also, 
        made dummy variables in order to better define findings.
        '''
        # Acquire
        df_iris = acquire.get_iris_data()
        
        # Drop species_id and measurement_id   
        df_iris = df_iris.drop(['species_id', 'measurement_id'],inplace=True)
        
        # Rename species_name to species              
        df_iris = df_iris.rename(columns={'species_name': 'species'})
                    
        # Create dummies
        dummy_df = pd.get_dummies(df_iris[['species']],
                                dummy_na = False,
                                drop_first = [True])
                    
        # Concat with dummies
        df_iris = pd.concat([df_iris, dummy_df], axis = 1)
        
        return df_iris

In [60]:
prep_data(df_iris).head()

Using cached csv

KeyError: "['species_id' 'measurement_id'] not found in axis"

### Use the function defined in acquire.py to load the Titanic data.

In [52]:
df_titanic = acquire.get_titanic_data()

Using cached csv

In [53]:
df_titanic.shape

(891, 13)

In [54]:
df_titanic.columns

Index(['passenger_id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch',
       'fare', 'embarked', 'class', 'deck', 'embark_town', 'alone'],
      dtype='object')

#### 2.) Drop any unnecessary, unhelpful, or duplicated columns.

In [55]:
df_titanic.drop_duplicates(inplace=True)

In [56]:
columns_to_drop = ['deck', 'age', 'embarked', 'class', 'passenger_id']
df_titanic = df_titanic.drop(columns= columns_to_drop)

In [57]:
df_titanic['embark_town'] = df_titanic.embark_town.fillna(value='Southampton')

In [58]:
df_titanic.head()

   survived  pclass     sex  sibsp  parch     fare  embark_town  alone
0         0       3    male      1      0   7.2500  Southampton      0
1         1       1  female      1      0  71.2833    Cherbourg      0
2         1       3  female      0      0   7.9250  Southampton      1
3         1       1  female      1      0  53.1000  Southampton      0
4         0       3    male      0      0   8.0500  Southampton      1

#### 3.) Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
# Find categorical columns
numcols = [col for col in df_titanic.columns if df_titanic[col].dtype != 'O']

catcols = [col for col in df_titanic.columns if df_titanic[col].dtype == 'O']

# df_titanic[numcols].info()
df_titanic[catcols].info()

In [ ]:
# Describe the 'object' columns
for col in catcols:
    print(f'Column: {col}')
    print(df_titanic[col].value_counts())
    print('--------------------')
    print(df_titanic[col].value_counts(normalize=True, dropna=False))
    print('====================')

In [ ]:
dummy_df = pd.get_dummies(df_titanic[['sex', 'embark_town']],
                         dummy_na = False,
                         drop_first = [True, True])
dummy_df

In [ ]:
df_titanic = pd.concat([df_titanic, dummy_df], axis = 1)

In [ ]:
df_titanic

In [ ]:
def prep_titanic(df_titanic):
    '''Cleans up unnecessary columns and uses straight-forward
    column names.
    '''
    # Acquire data
    df_titanic = acquire.get_titanic_data()
    
    # Drop dups
    df_titanic.drop_duplicates(inplace=True)
    
    # Remove unneeded columns
    df_titanic = df_titanic.drop(columns= ['deck', 'age', 'embarked', 'class', 'passenger_id'])
    
    #Fill in missing values where needed
    df_titanic['embark_town'] = df_titanic.embark_town.fillna(value='Southampton')
    
    # Encode categorical variables
    dummy_df = pd.get_dummies(df_titanic[['sex', 'embark_town']],
                         dummy_na = False,
                         drop_first = [True, True])
    df_titanic = pd.concat([df_titanic, dummy_df], axis = 1)
    
    # Drop unneeded columns without numeric data
    return df_titanic.drop(columns =['sex', 'embark_town'])

In [ ]:
prep_titanic(df_titanic)

#### Acquire Telco Data

In [82]:
df_telco = acquire.get_telco_data()
df_telco.head()

Using cached csv

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

In [83]:
df_telco.head()

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

#### Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [84]:
df_telco.describe()

,payment_type_id,contract_type_id,internet_service_type_id,senior_citizen,tenure,monthly_charges
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,2.315633,1.690473,1.872923,0.162147,32.371149,64.761692
std,1.148907,0.833755,0.737796,0.368612,24.559481,30.090047
min,1.000000,1.000000,1.000000,0.000000,0.000000,18.250000
25%,1.000000,1.000000,1.000000,0.000000,9.000000,35.500000
50%,2.000000,1.000000,2.000000,0.000000,29.000000,70.350000
75%,3.000000,2.000000,2.000000,0.000000,55.000000,89.850000
max,4.000000,3.000000,3.000000,1.000000,72.000000,118.750000

In [87]:
# df_telco.info

#### Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [88]:
list(df_telco.columns)

['payment_type_id',
 'contract_type_id',
 'internet_service_type_id',
 'customer_id',
 'gender',
 'senior_citizen',
 'partner',
 'dependents',
 'tenure',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'monthly_charges',
 'total_charges',
 'churn',
 'internet_service_type',
 'contract_type',
 'payment_type']

In [89]:
numcols = [col for col in df_telco if df_telco[col].dtype != 'O']

In [90]:
catcols = [col for col in df_telco if df_telco[col].dtype == 'O']

In [91]:
df_telco[numcols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   contract_type_id          7043 non-null   int64
 2   internet_service_type_id  7043 non-null   int64
 3   senior_citizen            7043 non-null   int64
 4   tenure                    7043 non-null   int64
 5   monthly_charges           7043 non-null   float64
dtypes: float64(1), int64(5)
memory usage: 330.3 KB

In [92]:
df_telco[catcols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   partner                7043 non-null   object
 3   dependents             7043 non-null   object
 4   phone_service          7043 non-null   object
 5   multiple_lines         7043 non-null   object
 6   online_security        7043 non-null   object
 7   online_backup          7043 non-null   object
 8   device_protection      7043 non-null   object
 9   tech_support           7043 non-null   object
 10  streaming_tv           7043 non-null   object
 11  streaming_movies       7043 non-null   object
 12  paperless_billing      7043 non-null   object
 13  total_charges          7043 non-null   object
 14  churn                  7043 non-null   object
 15  internet_service_type  7043 non-null   object
 16  contract_type          7043 non-null   object
 17  payment_type           7043 non-null   object
dtypes: object(18)
memory usage: 990.5+ KB

In [ ]:
# Whitespace in total_charges
df_telco['total_charges'] = df_telco['total_charges'].str.strip()

In [ ]:
df_telco = df_telco[df_telco.total_charges != '']

In [ ]:
df_telco['total_charges'] = df_telco.total_charges.astype(float)

In [ ]:
df_telco.describe()

In [ ]:
#Simple encoding binary category variables into numerics

In [93]:
# Describe our object columns:
for col in catcols:
    print(f'Column: {col}')
    print(df_telco[col].value_counts())
    print('--------------------')
    print(df_telco[col].value_counts(normalize=True, dropna=False))
    print('====================')

Column: customer_id
0002-ORFBO    1
6616-AALSR    1
6625-UTXEW    1
6625-IUTTT    1
6625-FLENO    1
             ..
3352-RICWQ    1
3352-ALMCK    1
3351-NQLDI    1
3351-NGXYI    1
9995-HOTOH    1
Name: customer_id, Length: 7043, dtype: int64
--------------------
0002-ORFBO    0.000142
6616-AALSR    0.000142
6625-UTXEW    0.000142
6625-IUTTT    0.000142
6625-FLENO    0.000142
                ...
3352-RICWQ    0.000142
3352-ALMCK    0.000142
3351-NQLDI    0.000142
3351-NGXYI    0.000142
9995-HOTOH    0.000142
Name: customer_id, Length: 7043, dtype: float64
====================
Column: gender
Male      3555
Female    3488
Name: gender, dtype: int64
--------------------
Male      0.504756
Female    0.495244
Name: gender, dtype: float64
====================
Column: partner
No     3641
Yes    3402
Name: partner, dtype: int64
--------------------
No     0.516967
Yes    0.483033
Name: partner, dtype: float64
====================
Column: dependents
No     4933
Yes    2110
Name: dependents, dtype: int64
--------------------
No     0.700412
Yes    0.299588
Name: dependents, dtype: float64
====================
Column: phone_service
Yes    6361
No      682
Name: phone_service, dtype: int64
--------------------
Yes    0.903166
No     0.096834
Name: phone_service, dtype: float64
====================
Column: multiple_lines
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
--------------------
No                  0.481329
Yes                 0.421837
No phone service    0.096834
Name: multiple_lines, dtype: float64
====================
Column: online_security
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64
--------------------
No                     0.496663
Yes                    0.286668
No internet service    0.216669
Name: online_security, dtype: float64
====================
Column: online_backup
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64
--------------------
No                     0.438450
Yes                    0.344881
No internet service    0.216669
Name: online_backup, dtype: float64
====================
Column: device_protection
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64
--------------------
No                     0.439443
Yes                    0.343888
No internet service    0.216669
Name: device_protection, dtype: float64
====================
Column: tech_support
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64
--------------------
No                     0.493114
Yes                    0.290217
No internet service    0.216669
Name: tech_support, dtype: float64
====================
Column: streaming_tv
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64
--------------------
No                     0.398978
Yes                    0.384353
No internet service    0.216669
Name: streaming_tv, dtype: float64
====================
Column: streaming_movies
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64
--------------------
No                     0.395428
Yes                    0.387903
No internet service    0.216669
Name: streaming_movies, dtype: float64
====================
Column: paperless_billing
Yes    4171
No     2872
Name: paperless_billing, dtype: int64
--------------------
Yes    0.592219
No     0.407781
Name: paperless_billing, dtype: float64
====================
Column: total_charges
           11
20.2       11
19.75       9
19.9        8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: total_charges, Length: 6531, dtype: int64
--------------------
           0.001562
20.2       0.001562
19.75      0.001278
19.9       0.001136
20.05      0.001136
             ...
2387.75    0.000142
6302.8     0.000142
2058.5     0.000142
829.55     0.000142
3707.6     0.000142
Name: total_charges, Length: 6531, dtype: float64
====================
Column: churn
No     5174
Yes    1869
Name: churn, dtype: int64
--------------------
No     0.73463
Yes    0.26537
Name: churn, dtype: float64
====================
Column: internet_service_type
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
--------------------
Fiber optic    0.439585
DSL            0.343746
None           0.216669
Name: internet_service_type, dtype: float64
====================
Column: contract_type
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
--------------------
Month-to-month    0.550192
Two year          0.240664
One year          0.209144
Name: contract_type, dtype: float64
====================
Column: payment_type
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64
--------------------
Electronic check             0.335794
Mailed check                 0.228880
Bank transfer (automatic)    0.219225
Credit card (automatic)      0.216101
Name: payment_type, dtype: float64
====================

In [94]:
columns_to_drop = ['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'customer_id']

In [95]:
df_telco = df_telco.drop(columns = columns_to_drop)
df_telco.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

In [96]:
dummy_df = pd.get_dummies(df_telco[['payment_type', 
                                    'internet_service_type', 
                                    'contract_type']],
                                     dummy_na = False,
                                     drop_first = [True, True, True, True])

In [97]:
dummy_df.head()

,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,internet_service_type_Fiber optic,internet_service_type_None,contract_type_One year,contract_type_Two year
0,0,0,1,0,0,1,0
1,0,0,1,0,0,0,0
2,0,1,0,1,0,0,0
3,0,1,0,1,0,0,0
4,0,0,1,1,0,0,0

In [110]:
df_telco = pd.concat([df_telco, dummy_df], axis=1)
df_telco.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,internet_service_type_Fiber optic,internet_service_type_None,contract_type_One year,contract_type_Two year,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,internet_service_type_Fiber optic,internet_service_type_None,contract_type_One year,contract_type_Two year
0,Female,0.0,Yes,Yes,9.0,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.30,No,DSL,One year,Mailed check,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,1,0,0,1,0
1,Male,0.0,No,No,9.0,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.40,No,DSL,Month-to-month,Mailed check,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0
2,Male,0.0,No,No,4.0,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0,1,0,1,0,0,0
3,Male,1.0,Yes,No,13.0,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0,1,0,1,0,0,0
4,Female,1.0,Yes,No,3.0,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.40,Yes,Fiber optic,Month-to-month,Mailed check,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0,0,1,1,0,0,0

In [114]:
# visualize
for col in numcols:
    plt.hist(df_telco[col])
    plt.title(df_telco[col])

KeyError: 'payment_type_id'

#### Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied

In [115]:
def prep_telco(df_telco):
    '''Cleans up unnecessary columns and uses straight-forward
    column names.
    '''
    # Acquire data
    df_telco = acquire.get_telco_data()
    
    # Drop dups
    df_telco.drop_duplicates(inplace=True)
    
    # Remove unneeded columns
    columns_to_drop = ['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'customer_id']
    df_telco = df_telco.drop(columns = columns_to_drop)
    
    # Encode categorical variables
    dummy_df = pd.get_dummies(df_telco[['payment_type', 
                                    'internet_service_type', 
                                    'contract_type']],
                                     dummy_na = False,
                                     drop_first = [True, True, True, True])
    
    # Drop unneeded columns without numeric data
    return df_telco

In [100]:
prep_telco(df_telco)

Using cached csv

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.60,593.3,No,DSL,One year,Mailed check
1,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.90,542.4,No,DSL,Month-to-month,Mailed check
2,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.90,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.00,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.90,267.4,Yes,Fiber optic,Month-to-month,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,0,No,No,13,Yes,No,Yes,No,No,Yes,No,No,No,55.15,742.9,No,DSL,One year,Mailed check
7039,Male,0,Yes,No,22,Yes,Yes,No,No,No,No,No,Yes,Yes,85.10,1873.7,Yes,Fiber optic,Month-to-month,Electronic check
7040,Male,0,No,No,2,Yes,No,No,Yes,No,No,No,No,Yes,50.30,92.75,No,DSL,Month-to-month,Mailed check
7041,Male,0,Yes,Yes,67,Yes,No,Yes,No,Yes,Yes,No,Yes,No,67.85,4627.65,No,DSL,Two year,Mailed check
7042,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,Yes,No,Yes,Yes,No,59.00,3707.6,No,DSL,Two year,Electronic check